html, body {
  font-family: 'Source Code Pro' !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100% !important;
  background: url("http://danielsantos.herokuapp.com/images/background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-attachment: scroll;
  overflow: hidden;
}

code {
  font-family: 'Source Code Pro';
}
